MyBot = Poly.Bot();

MyBot.Configure({
	"Server": "irc server",
	"Password": "optional password",
	"Port": 6667,
	"Ident": "bot ident", 
	"Nick": "bot nick",
	"Realname": "bot realname",
	"UserConfigFile": "Bots/BotName.UserConfig.json"
});

InitModules(MyBot, [
	'Command', 'Youtube', 'ConsoleLog', 'Eval'
]);

MyBot.On('Connected', () => {
	// this is MyBot
	this.JoinChannel('#channel');
});

MyBot.Start();