MyBot = Poly.Bot();

MyBot.Configure({
	"Server": "irc server",
	"Password": "optional password",
	"Port": 6667,
	"Ident": "bot ident", 
	"Nick": "bot nick",
	"Realname": "bot realname"
});

MyBot.On('Connected', () => {
	Bot.JoinChannel('#channel');
});

MyBot.Start();